.class{
    padding-left: 20px;
}
.lastline{
    color: blueviolet;
}
.list{
    color: silver;
}
 .table-headingtwo{

    padding-left: 500px;
}
.table-headingthree{
    padding-left: 572px;
}
.table-class{
    padding-left: 525px;
}
.table-heading{
    padding-right: 30px;
}
.table, tr, th, td {  
  border: 2px solid;
  border-radius: 5px;
  padding: left 30px;
  border-style: ridge;
  border-color: silver;
  /*text-align: center;*/
}
.horizontal-line{
    width: 700px;
}
/*div, p{
    color: blueviolet;
}*/
.bdr{
    border: 2px double;
    padding: 20px;      /*Does Padding Inside Of Box From All 4 Sides Such as Left, Right, Bottom & Top*/
    margin: 30px;       /*Give Margin Outside Of Box From All 4 Sides Such as Left, Right, Bottom & Top*/
}
.ng-image{
    background: no-repeat;
    /*background-attachment: fixed;
      background-size: cover*/
    
}
.cap{
    padding-left: 500px;

}
tr:nth-child(odd){
    background-color: aqua;            /*For Table Stripes Rows*/
}
td:nth-child(even), th:nth-child(even){   /*For Stripes Columns*/
    background-color: #D6EEEE;
}
tr:hover{
    background-color: blueviolet;   /*For Table Hover*/
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}
ul, li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.in-block{
    width: 400px;
    display: flex;
    /*display: inline-block;*/     /*Display Boxes In One Line*/
    text-align: center;
    /*background-color: blueviolet;*/
    padding: 10px;
}
.in-block, p{
    padding-left: 50px;
}
.grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
